$main-font: 'Playfair Display', serif;

a{
    text-decoration: none;
}
img{
    width: 100px;
}

//header
.app-name{
    font-size: 75px;
    display: flex;
    justify-content: center;
    font-family: $main-font;
    color: blueviolet;
}

.instructions{
    font-family: $main-font;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

// search options
.start-year-label{
    color: rgb(60, 122, 214);
    font-family: $main-font;
}

.end-year-label{
    font-family: $main-font;
    color: rgb(141, 45, 141)
}


//footer
.about-me{
    display: flex;
    justify-content: space-evenly;

}