$main-font: 'Playfair Display', serif;
body{
    background-color: lavender;
    font-family: $main-font;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    width: 100px;
}
button{
    border: none;
    background-color: lavender;
    > img{

        border-radius: 20px;
    }
}
table, tr, td {
    border: 1px solid black;
    background-color: lavender;
    // display: none;
}
table{
    display: none;
}

.logo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 1;
}

.app-name{
    background-color: lavender;
    height: 100%;
    width: 100%;
}

.instructions{
    background-color: lavender;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
}
.disclaimer{
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
// year search
.year{
    background-color: lavender;
}
#preselected-year{
    background-color: lavender;
}
#ticker-search-bar{
    border-radius: 100px;
    border: none;
}
.ticker-search-button{
    border-radius: 10px;
    border: 1px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
    
}
.ticker-search-button:hover{
        cursor: pointer;
}

//graph
#myChart{
    width: 100%;
    height: 100%;
    background-color: lavender;
}

.stock-choices{
    font-size: 50px;
    font-family: $main-font;
    display: flex;
    justify-content: space-between;
    background-color: lavender;
}

//header
.app-name{
    font-size: 75px;
    display: flex;
    justify-content: center;
    font-family: $main-font;
    color: blueviolet;
    
}

.instructions{
    font-family: $main-font;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.table-header-container{
    background-color: lavender;
}
#table-container{
    display: none;
}
#table-header{
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(219, 97, 219);
    text-align: center;
    border-radius: 10px;
    opacity: .8;
    width: 50%;
    margin-left: 25vw;
}
#table1{
    border: none;
    display: flex;
    justify-content: center;
}

.table-row-1{
    font-weight: bold;
    font-size: 40px;
    >td{
        background-color: white;
        color: lightblue;
        border-radius: 4px;
        border: 2px solid black;
    }
    >:nth-child(2){
        color: blue;
    }
    >:nth-child(3){
        color: red
    }
    >:last-child{
        color: greenyellow;
    }
}
.table-row-2{
    // font-weight: bold;
    text-align: center;
    >td{
        background-color: lightcoral;
        
    }
    
}

//takeaways
.take-aways{
    display: none;
    font-weight: bold;
    font-size: 20px;
}

//inferences
.inferences{
    display: none;
}
#inferences1{
    display: none;
}
#inferences2{
    display: none;
}
//footer
.about-me{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    background-color: lavender;
}

